@layer components {
  .bcc-nps-result {
    @apply relative w-full;
  }

  .bcc-nps-result.xs {
    @apply w-24;
  }
  .bcc-nps-result.sm {
    @apply w-36;
  }
  .bcc-nps-result.md {
    @apply w-48;
  }
  .bcc-nps-result.lg {
    @apply w-60;
  }
  .bcc-nps-result.xl {
    @apply w-72;
  }

  .bcc-nps-result .bcc-nps-result-gauge-dial {
    transform-origin: center;
  }

  .bcc-nps-result.animated .bcc-nps-result-gauge-dial {
    transition-delay: 0.3s;
    transition: all .7s cubic-bezier(0, 0, 0.3, 1.5);    
  }

  .bcc-nps-result-labels {
    @apply absolute text-base bottom-1/4 translate-y-1/2  flex w-full flex-col items-center justify-center;
  }

  .bcc-nps-result-labels--heading {
    @apply text-[1.25em] font-semibold leading-none;
  }
  .bcc-nps-result-labels--label {
    @apply text-[0.75em] text-subtlest;
  }

  .bcc-nps-result.md .bcc-nps-result-labels {
    @apply text-lg;
  }
  .bcc-nps-result.lg .bcc-nps-result-labels {
    @apply text-xl;
  }
  .bcc-nps-result.xl .bcc-nps-result-labels {
    @apply text-2xl;
  }
  .bcc-nps-result.full .bcc-nps-result-labels {
    @apply text-lg;
  }
}
