@layer components {
    .text-title-xl,
    .text-title-lg,
    .text-title,
    .text-title-sm,
    .text-title-xs {
        font-weight: 700;
        line-height: 1.2em;
    }
	.text-title-xl {
        font-size: 2.5rem;
	}
	.text-title-lg {
		font-size: 2.25rem;
	}
	.text-title {
		font-size: 2rem;
	}
	.text-title-sm {
        font-size: 1.5rem;
	}
	.text-title-xs {
        font-size: 1.25rem;
	}

    .text-heading-xl,
    .text-heading-lg,
    .text-heading,
    .text-heading-sm,
    .text-heading-xs {
        font-weight: 600;
        line-height: 1.5em;
    }

	.text-heading-xl {
		font-size: 1.5rem;
	}
	.text-heading-lg {
		font-size: 1.25rem;
	}
	.text-heading {
		font-size: 1.125rem;
	}
	.text-heading-sm {
		font-size: 16px;
        line-height: 20px;
	}
	.text-heading-xs {
		font-size: 14px;
        line-height: 16px;
    }


    .text-body,
    .text-body-sm,
    .text-body-xs {
        font-weight: 400;
        line-height: 1.5em;
    }

	.text-body-lg {
		font-size: 1.125rem;
	}
	.text-body {
		font-size: 16px;
        line-height: 20px;
	}
	.text-body-sm {
		font-size: 14px;
        line-height: 16px;
	}

    /**
    * Caption and label have same settings but different font-weight
    */
    .text-caption-lg,
    .text-caption,
    .text-caption-sm,
    .text-caption-xs {
        font-weight: 400;
        line-height: 1.5em;
    }

    .text-label-lg,
    .text-label,
    .text-label-sm,
    .text-label-xs {
        font-weight: 600;
        line-height: 1.5em;
    }

    .text-caption-lg,
	.text-label-lg {
		font-size: 16px;
        line-height: 20px;
	}
    .text-caption,
	.text-label {
		font-size: 14px;
        line-height: 16px;
	}
    .text-caption-sm,
	.text-label-sm {
		font-size: 0.75rem;
	}
    .text-caption-xs,
	.text-label-xs {
		font-size: 0.625rem;
	}
}
