@layer components {
    .bcc-tabs {
        @apply relative w-full overflow-hidden;
    }

    .bcc-tabs-bar {
        @apply relative flex items-end min-w-full overflow-scroll hide-scrollbar;
    }

    .bcc-tabs--fill {
        @apply flex flex-1 flex-col overflow-hidden;
    }

    .bcc-tabs--fill .bcc-tabs-bar {
        @apply sticky top-0 z-10 bg-brand-100 shrink-0;
    }

    .bcc-tabs--fill .bcc-tabs-panels {
        @apply h-full w-full overflow-y-auto;
    }

    .bcc-tabs--fill .bcc-tabs-panel {
        @apply h-full overflow-y-auto;
    }

    .bcc-tabs-bar::before {
        @apply absolute bottom-0 inset-x-0 border-b-2 border-on-primary;
        content: '';
    }

    @media (max-width: theme('screens.sm')) {
        .bcc-tabs-bar--1 .bcc-tabs-bar-item,        
        .bcc-tabs-bar--2 .bcc-tabs-bar-item {
            min-width: 50%;
        }

        .bcc-tabs-bar--3 .bcc-tabs-bar-item {
            min-width: 33.333333%;
        }

        .bcc-tabs-bar--4 .bcc-tabs-bar-item {
            min-width: 25%;
        }
    }

    .bcc-tabs-bar-item {
        @apply relative flex items-center justify-center whitespace-nowrap shrink-0 cursor-pointer select-none px-5 py-3 border-b-2 text-tertiary focus:outline-none transition-colors;
    }
    
    .bcc-tabs-bar-item:not(.bcc-tabs-bar-item--disabled) {
        @apply hover:text-button-tertiary-hover active:text-button-tertiary-active;
    }

    .bcc-tabs-bar-item--disabled {
        @apply opacity-60 cursor-not-allowed;
    }

    .bcc-tabs-bar-item--active {
        @apply border-button-primary-active text-button-tertiary-active;
    }

    .bcc-tabs-bar-icon {
        @apply w-5 h-5 mr-1.5;
    }

    .bcc-tabs-item-right {
        @apply ml-3;
    }

    /* Size */
    .bcc-tabs-sm {
        @apply px-4 py-2;
    }
    .bcc-tabs-lg {
        @apply px-6 py-4;
    }

    .bcc-tabs-sm .bcc-tabs-bar-icon {
        @apply w-4 h-4;
    }

    .bcc-tabs-lg .bcc-tabs-bar-icon {
        @apply w-6 h-6;
    }
}
