@layer components {
  .bcc-nps-score {
    @apply min-w-[280px] p-4 text-body-sm flex flex-col gap-y-2;
  }

  .bcc-nps-score--heading {
    @apply flex items-center justify-between;
  }

  .bcc-nps-score--label {
    @apply flex-1 truncate;
  }

  .bcc-nps-score--bar {
    @apply flex justify-evenly rounded-xl text-white pointer-events-none;
    @apply bg-linear-to-r from-red-600 via-yellow-400 via-75% to-green-400;
  }

  .bcc-nps-score--bar.reverse {
    @apply bg-linear-to-l;
  }

  .bcc-nps-score--bar.disabled .bcc-nps-score--number.inactive {
    @apply bg-ctx ctx-gray-subtler text-disabled;
  }

  .bcc-nps-score--number {
    @apply border-border-inverse;
    @apply flex h-8 flex-1 items-center justify-center border-r-2 font-bold text-sm leading-none;
    @apply pointer-events-auto cursor-pointer transition-all duration-200 hover:bg-transparent;
  }

  .bcc-nps-score--number:disabled {
    @apply pointer-events-none cursor-default;
  }

  .bcc-nps-score--number.active {
    @apply pointer-events-none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .bcc-nps-score--number:has(~ .bcc-nps-score--number.active) {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .bcc-nps-score--number.inactive {
    @apply bg-ctx text-ctx ctx-gray-subtle;
  }

  .bcc-nps-score--number:first-child {
    @apply rounded-l-xl pl-0.5;
  }
  .bcc-nps-score--number:last-child{
    @apply rounded-r-xl border-r-0 pr-0.5;
  }
}
