@layer components {
    .bcc-select {
        @apply w-full h-10 px-4 py-2 form-select text-body-small rounded-lg text-primary bg-primary border-on-primary focus:ring-0 focus:outline-2 focus:outline-emphasis focus:-outline-offset-1;
    }

    /* Size */
    .bcc-select-sm {
        @apply h-8 text-body-small py-1;
    }
    .bcc-select-lg {
        @apply h-14 text-body-base py-4;
    }

    /* State */
    .bcc-select-error {
        @apply border-danger focus:outline-danger;
    }
    .bcc-select-success {
        @apply border-success focus:outline-success;
    }
}
