@layer components {
    .bcc-avatar {
        --p-avatar-background: var(--ctx-background);
        --p-avatar-color: var(--ctx-text);
        --bcc-avatar-border: var(--ctx-border);
        @apply overflow-hidden shrink-0 ctx-gray-subtler;
    }
    .bcc-avatar.male,
    .bcc-avatar.M {
        @apply ctx-blue-subtler;
    }
    .bcc-avatar.female,
    .bcc-avatar.F {
        @apply ctx-purple-subtler;
    }
    .bcc-avatar.male.child,
    .bcc-avatar.M.child {
        @apply ctx-teal-subtler;
    }
    .bcc-avatar.female.child,
    .bcc-avatar.F.child {
        @apply ctx-magenta-subtler;
    }
    .bcc-avatar.bordered {
        @apply border-2 border-ctx;
    }
    .bcc-avatar.xs {
        @apply size-5 text-xs;
    }
    .bcc-avatar.sm {
        @apply size-6 text-sm;
    }
    .bcc-avatar.md {
        @apply size-8 text-base;
    }
    .bcc-avatar.lg {
        @apply size-10 text-xl;
    }
    .bcc-avatar.xl {
        @apply size-12 text-2xl;
    }
    .bcc-avatar.xxl {
        @apply size-20 text-4xl;
    }
    .bcc-avatar.xxxl {
        @apply size-24 text-5xl;
    }

    .bcc-avatar.p-avatar-circle.lg {
        @apply text-lg;
    }
    .bcc-avatar.p-avatar-circle.xl {
        @apply text-xl;
    }
    .bcc-avatar.p-avatar-circle.xxl {
        @apply text-3xl;
    }
    .bcc-avatar.p-avatar-circle.xxxl {
        @apply text-4xl;
    }
}