@layer components {
    .bcc-avatar {
        --p-avatar-background: var(--ctx-background);
        --p-avatar-color: var(--ctx-text);
        --bcc-avatar-border: var(--ctx-border);
        @apply ctx-gray-subtler;
    }
    .bcc-avatar.male,
    .bcc-avatar.M {
        @apply ctx-blue-subtler;
    }
    .bcc-avatar.female,
    .bcc-avatar.F {
        @apply ctx-purple-subtler;
    }
    .bcc-avatar.male.child,
    .bcc-avatar.M.child {
        @apply ctx-teal-subtler;
    }
    .bcc-avatar.female.child,
    .bcc-avatar.F.child {
        @apply ctx-magenta-subtler;
    }
}