
@theme {
    --color-ctx-text: var(--ctx-text);
    --color-ctx-text-bold: var(--ctx-text-bold);
    --color-ctx-background: var(--ctx-background);
    --color-ctx-border: var(--ctx-border);
    --color-ctx-shadow: var(--ctx-shadow);
    --color-ctx-gradient: var(--ctx-gradient);
  }
  
  @utility text-ctx {
    color: var(--ctx-text);
  }
  
  @utility bg-ctx {
    background-color: var(--ctx-background);
  }
  
  @utility border-ctx {
    border-color: var(--ctx-border);
  }
  
  @utility ctx {
    background-color: var(--ctx-background);
    color: var(--ctx-text);
    border-color: var(--ctx-border);
  }
  
  @utility clickable {
    cursor: pointer;
  }
  
  @utility ctx-gradient {
    background: linear-gradient(225deg, var(--ctx-gradient) 0%, var(--ctx-background) 100%);
  }
  
  @utility ctx-raised {
    box-shadow: 0 1px 1px 0 var(--ctx-shadow), 0 0 1px 0 var(--ctx-shadow);
  }
  
  @utility ctx-flat {
    background: transparent;
  }
  