
@theme {
  --color-ctx-text: var(--ctx-text);
  --color-ctx-text-bold: var(--ctx-text-bold);
  --color-ctx-background: var(--ctx-background);
  --color-ctx-border: var(--ctx-border);
  --color-ctx-shadow: var(--ctx-shadow);
  --color-ctx-gradient: var(--ctx-gradient);

  --color-brand-100: var(--color-bcc-100);
  --color-brand-200: var(--color-bcc-200);
  --color-brand-300: var(--color-bcc-300);
  --color-brand-400: var(--color-bcc-400);
  --color-brand-500: var(--color-bcc-500);
  --color-brand-600: var(--color-bcc-600);
  --color-brand-700: var(--color-bcc-700);
  --color-brand-800: var(--color-bcc-800);
  --color-brand-900: var(--color-bcc-900);
  --color-brand-1000: var(--color-bcc-1000);
}

@utility text-ctx {
  color: var(--ctx-text);
}

@utility text-ctx-bold {
  color: var(--ctx-text-bold);
}

@utility bg-ctx {
  background-color: var(--ctx-background);
}

@utility border-ctx {
  border-color: var(--ctx-border);
}

@utility ctx {
  background-color: var(--ctx-background);
  color: var(--ctx-text);
  border-color: var(--ctx-border);
}

@utility ctx-gradient {
  background: linear-gradient(225deg, var(--ctx-gradient) 0%, var(--ctx-background) 100%);
}

@utility ctx-raised {
  box-shadow: 0 1px 1px 0 var(--ctx-shadow), 0 0 1px 0 var(--ctx-shadow);
}

@utility ctx-flat {
  --ctx-background: transparent;

  @variant hover {
    --ctx-background: var(--ctx-background-hover);
  }
}

@utility clickable {
  cursor: pointer;
}

.clickable:hover {
  --ctx-background: var(--ctx-background-hover);
  --ctx-text: var(--ctx-text-hover);
  --ctx-border: var(--ctx-border-hover);
}

.clickable:active {
  --ctx-background: var(--ctx-background-pressed);
  --ctx-text: var(--ctx-text-pressed);
  --ctx-border: var(--ctx-border-pressed);
}