@theme {
    --spacing-inset-top: 'env(safe-area-inset-top, var(--safe-area-inset-top, 0px))';
    --spacing-inset-top-1: 'max(0.25rem, env(safe-area-inset-top, var(--safe-area-inset-top, 0px)))';
    --spacing-inset-top-2: 'max(0.5rem, env(safe-area-inset-top, var(--safe-area-inset-top, 0px)))';
    --spacing-inset-top-4: 'max(1rem, env(safe-area-inset-top, var(--safe-area-inset-top, 0px)))';
    --spacing-inset-bottom: 'env(safe-area-inset-bottom, var(--safe-area-inset-bottom, 0px))';
    --spacing-inset-bottom-1: 'max(0.25rem, env(safe-area-inset-bottom, var(--safe-area-inset-bottom, 0px)))';
    --spacing-inset-bottom-2: 'max(0.5rem, env(safe-area-inset-bottom, var(--safe-area-inset-bottom, 0px)))';
    --spacing-inset-bottom-4: 'max(1rem, env(safe-area-inset-bottom, var(--safe-area-inset-bottom, 0px)))';
    --spacing-inset-left: 'env(safe-area-inset-left, var(--safe-area-inset-left, 0px))';
    --spacing-inset-right: 'env(safe-area-inset-right, var(--safe-area-inset-right, 0px))';
}

.ctx-default { @apply ctx-default }
.ctx-blue-bolder { @apply ctx-blue-bolder }
.ctx-blue-subtle { @apply ctx-blue-subtle }
.ctx-blue-subtler { @apply ctx-blue-subtler }
.ctx-blue-subtlest { @apply ctx-blue-subtlest }
.ctx-brand-bolder { @apply ctx-brand-bolder }
.ctx-brand-boldest { @apply ctx-brand-boldest }
.ctx-brand-subtle { @apply ctx-brand-subtle }
.ctx-brand-subtler { @apply ctx-brand-subtler }
.ctx-brand-subtlest { @apply ctx-brand-subtlest }
.ctx-brown-bolder { @apply ctx-brown-bolder }
.ctx-brown-subtle { @apply ctx-brown-subtle }
.ctx-brown-subtler { @apply ctx-brown-subtler }
.ctx-brown-subtlest { @apply ctx-brown-subtlest }
.ctx-danger { @apply ctx-danger }
.ctx-danger-bolder { @apply ctx-danger-bolder }
.ctx-gray-bolder { @apply ctx-gray-bolder }
.ctx-gray-subtle { @apply ctx-gray-subtle }
.ctx-gray-subtler { @apply ctx-gray-subtler }
.ctx-gray-subtlest { @apply ctx-gray-subtlest }
.ctx-green-bolder { @apply ctx-green-bolder }
.ctx-green-subtle { @apply ctx-green-subtle }
.ctx-green-subtler { @apply ctx-green-subtler }
.ctx-green-subtlest { @apply ctx-green-subtlest }
.ctx-info { @apply ctx-info }
.ctx-info-bolder { @apply ctx-info-bolder }
.ctx-magenta-bolder { @apply ctx-magenta-bolder }
.ctx-magenta-subtle { @apply ctx-magenta-subtle }
.ctx-magenta-subtler { @apply ctx-magenta-subtler }
.ctx-magenta-subtlest { @apply ctx-magenta-subtlest }
.ctx-neutral-bold { @apply ctx-neutral-bold }
.ctx-neutral-subtle { @apply ctx-neutral-subtle }
.ctx-neutral-subtler { @apply ctx-neutral-subtler }
.ctx-neutral-subtlest { @apply ctx-neutral-subtlest }
.ctx-orange-bolder { @apply ctx-orange-bolder }
.ctx-orange-subtle { @apply ctx-orange-subtle }
.ctx-orange-subtler { @apply ctx-orange-subtler }
.ctx-orange-subtlest { @apply ctx-orange-subtlest }
.ctx-purple-bolder { @apply ctx-purple-bolder }
.ctx-purple-subtle { @apply ctx-purple-subtle }
.ctx-purple-subtler { @apply ctx-purple-subtler }
.ctx-purple-subtlest { @apply ctx-purple-subtlest }
.ctx-red-bolder { @apply ctx-red-bolder }
.ctx-red-subtle { @apply ctx-red-subtle }
.ctx-red-subtler { @apply ctx-red-subtler }
.ctx-red-subtlest { @apply ctx-red-subtlest }
.ctx-success { @apply ctx-success }
.ctx-success-bolder { @apply ctx-success-bolder }
.ctx-teal-bolder { @apply ctx-teal-bolder }
.ctx-teal-subtle { @apply ctx-teal-subtle }
.ctx-teal-subtler { @apply ctx-teal-subtler }
.ctx-teal-subtlest { @apply ctx-teal-subtlest }
.ctx-warning { @apply ctx-warning }
.ctx-warning-bolder { @apply ctx-warning-bolder }
.ctx-yellow-bolder { @apply ctx-yellow-bolder }
.ctx-yellow-subtle { @apply ctx-yellow-subtle }
.ctx-yellow-subtler { @apply ctx-yellow-subtler }
.ctx-yellow-subtlest { @apply ctx-yellow-subtlest }