@utility center {
    @apply flex items-center justify-center;

    &.between {
        @apply justify-between;
    }

    &.top {
        @apply items-start;
    }

    &.bottom {
        @apply items-end;
    }

    &.left {
        @apply justify-start;
    }

    &.right {
        @apply justify-end;
    }

    &.stretch {
        @apply items-stretch;
    }
}

@utility col {
    @apply flex flex-col items-center;

    &.between {
        @apply justify-between;
    }

    &.left {
        @apply items-start;
    }

    &.right {
        @apply items-end;
    }

    &.top {
        @apply justify-start;
    }

    &.bottom {
        @apply justify-end;
    }
}

@utility hide-scrollbar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
}

/* Capitalize first letter */
@utility capital {
    display: inline-block;
    &::first-letter {
        text-transform: uppercase;
    }
}

/* Inset 0 */
@utility inset-0 {
	@apply left-0 right-0 top-0 bottom-0;
}