@utility center {
    @apply flex items-center justify-center;

    &.between {
        @apply justify-between;
    }

    &.top {
        @apply items-start;
    }

    &.bottom {
        @apply items-end;
    }

    &.left {
        @apply justify-start;
    }

    &.right {
        @apply justify-end;
    }

    &stretch {
        @apply items-stretch;
    }
}

@utility col {
    @apply flex flex-col items-center;

    &.between {
        @apply justify-between;
    }

    &.left {
        @apply items-start;
    }

    &.right {
        @apply items-end;
    }

    &.top {
        @apply justify-start;
    }

    &.bottom {
        @apply justify-end;
    }
}

@utility capital {
    /* Capitalize first letter */
    &:first-letter {
      text-transform: uppercase;
    }
  }