@import "./BccReact/BccReact.css";
@import "./BccCapacityIndicator/BccCapacityIndicator.css";
@import "./BccKnob/BccKnob.css";
@import "./BccNpsScore/BccNpsScore.css";
@import "./BccNpsResult/BccNpsResult.css";
@import "./BccGraphic/BccGraphic.css";
@import "./BccFrame/BccFrame.css";
@import "./BccToggle/BccToggle.css";