@import "./BccReact/BccReact.css";
@import "./BccCapacityIndicator/BccCapacityIndicator.css";
@import "./BccDialKnob/BccDialKnob.css";
@import "./BccNpsScore/BccNpsScore.css";
@import "./BccNpsResult/BccNpsResult.css";
@import "./BccGraphic/BccGraphic.css";
@import "./BccFrame/BccFrame.css";
@import "./BccToggle/BccToggle.css";
@import "./BccBadge/BccBadge.css";
@import "./BccAvatar/BccAvatar.css";