@layer components {
    .bcc-capacity-indicator {
        @apply text-base;
    }

    .bcc-capacity-indicator.xs {
        @apply text-xs;
    }

    .bcc-capacity-indicator.sm {
        @apply text-sm;
    }

    .bcc-capacity-indicator.lg {
        @apply text-xl;
    }

    .bcc-capacity-indicator {
        --bcc-capacity-indicator-background: var(--ctx-background);
        --bcc-capacity-indicator-text: var(--ctx-text);
        --bcc-capacity-indicator-circle: var(--ctx-background-pressed);
        --bcc-capacity-indicator-circle-used: var(--ctx-border);
        background: var(--bcc-capacity-indicator-background);
    }

    .bcc-capacity-indicator .text {
        color: var(--bcc-capacity-indicator-text);
    }
    .bcc-capacity-indicator .circle {
        stroke: var(--bcc-capacity-indicator-circle);
    }
    .bcc-capacity-indicator .circle-used {
        stroke: var(--bcc-capacity-indicator-circle-used);
    }

    .bcc-capacity-indicator.default {
        --bcc-capacity-indicator-background: transparent;
        @apply ctx-gray-subtlest;
    }

    .bcc-capacity-indicator.colored {
        @apply ctx-blue-subtlest;
    }

    .bcc-capacity-indicator.is-warning {
        @apply ctx-yellow-subtlest;
    }

    .bcc-capacity-indicator.is-full {
        @apply ctx-red-subtlest;
    }
}