@layer components {
    .bcc-knob {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        touch-action: none;

        --bcc-knob-arc-bg: #D1D5DB;
        --bcc-knob-head: #437571;
        --bcc-knob-tail: #A9BABA;
        --bcc-knob-left-head: #9B4F44;
        --bcc-knob-left-tail: #DBBEAC;
        --bcc-knob-right-head: #3E8E75;
        --bcc-knob-right-tail: #B1DECC;
    }
}
