@layer components {
    .bcc-badge {
        @apply inline-flex items-center justify-center rounded-md border font-normal leading-none tracking-wide gap-1;
    }

    /* Size */
    .bcc-badge-xs {
        @apply text-xs leading-3 px-2 py-0.5;
    }
    .bcc-badge-sm {
        @apply text-sm leading-5 px-3 py-0.5;
    }

    /* Variants */
    .bcc-badge-neutral {
        @apply border-neutral-200 bg-neutral-50 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-200 dark:border-neutral-700;
    }
    .bcc-badge-danger {
        @apply border-danger bg-danger text-danger dark:bg-red-900 dark:text-red-200 dark:border-red-700;
    }
    .bcc-badge-warning {
        @apply border-warning bg-warning text-warning dark:bg-yellow-900 dark:text-yellow-300 dark:border-yellow-700;
    }
    .bcc-badge-success {
        @apply border-success bg-success text-success dark:bg-green-900 dark:text-green-300 dark:border-green-700;
    }
    .bcc-badge-info {
        @apply border-info bg-info text-info dark:bg-blue-900 dark:text-blue-300 dark:border-blue-700;
    }
    .bcc-badge-system {
        @apply border-system bg-system text-system dark:bg-teal-900 dark:text-teal-300 dark:border-teal-700;
    }

    /* Icon */
    .bcc-badge-xs .bcc-badge-icon {
        @apply h-3 w-3;
    }
    .bcc-badge-sm .bcc-badge-icon {
        @apply h-4 w-4;
    }
}