@layer components {
    .bcc-badge {
        @apply inline-flex items-center justify-center rounded-md border font-normal leading-none tracking-wide gap-1;
        /* Default neutral badge */
        @apply border-neutral-200 bg-neutral-50 text-neutral-900
        /* Default xs badge */
        @apply text-xs leading-3 px-2 py-0.5;
    }

    /* Size */
    .bcc-badge-sm {
        @apply text-sm leading-5 px-3 py-0.5;
    }

    /* Variants */
    .bcc-badge-danger {
        @apply border-danger bg-danger text-danger;
    }
    .bcc-badge-warning {
        @apply border-warning bg-warning text-warning;
    }
    .bcc-badge-success {
        @apply border-success bg-success text-success;
    }
    .bcc-badge-info {
        @apply border-info bg-info text-info;
    }
    .bcc-badge-system {
        @apply border-system bg-system text-system;
    }

    /* Icon */
    .bcc-badge-icon {
        @apply h-3 w-3;
    }
    .bcc-badge-sm .bcc-badge-icon {
        @apply h-4 w-4;
    }
}