@layer components {
    .bcc-button {
        @apply font-semibold inline-flex items-center outline-1 outline-emphasis outline-offset-2 tracking-wide border justify-between active:shadow-inner hover:shadow-md focus:outline;
        @apply cursor-pointer disabled:opacity-40 disabled:cursor-not-allowed disabled:pointer-events-none;
        
        /* Default base size */
        @apply text-base leading-5 py-2.5 px-5 gap-x-2 h-10 rounded-lg;
    }

    /* Size */
    .bcc-button-xs {
        @apply text-xs leading-3 py-1.5 px-3 gap-x-1.5 h-6 rounded-md;
    }
    .bcc-button-sm {
        @apply text-sm leading-4 py-2 px-3 gap-x-1.5 h-8 rounded-md;
    }
    .bcc-button-lg {
        @apply text-base leading-5 py-3 px-5 gap-x-2.5 h-12 rounded-lg;
    }
    .bcc-button-xl {
        @apply text-xl leading-5 py-4 px-6 gap-x-2.5 h-14 rounded-lg;
    }

    /* Rounded */
    .bcc-button-rounded {
        @apply rounded-full;
    }

    /* Icon only */
    .bcc-button-icon-only {
        @apply justify-center rounded-full;
    }
    .bcc-button-xs.bcc-button-icon-only {
        @apply w-6 h-6 p-1;
    }
    .bcc-button-sm.bcc-button-icon-only {
        @apply w-8 h-8 p-1;
    }
    .bcc-button-icon-only { /* base size */
        @apply w-10 h-10 p-2;
    }
    .bcc-button-lg.bcc-button-icon-only {
        @apply w-12 h-12 p-2;
    }
    .bcc-button-xl.bcc-button-icon-only {
        @apply w-14 h-14 p-3;
    }

    /* Center */
    .bcc-button-center {
        @apply justify-center;
    }

    /* 
     * Variants
     */
    /* Default variants */
    .bcc-button-primary {
        @apply bg-button-primary text-button-primary hover:bg-button-primary-hover active:bg-button-primary-pressed active:text-button-primary;
        @apply border-transparent;
    }
    .bcc-button-secondary {
        @apply border-button-secondary bg-button-secondary text-button-secondary hover:border-button-secondary-hover hover:bg-button-secondary-hover active:border-button-secondary-pressed;
    }
    .bcc-button-tertiary {
        @apply text-button-tertiary hover:text-button-tertiary-hover active:text-button-tertiary-pressed;
        @apply border-transparent hover:shadow-none active:shadow-none;
    }

    /* Danger variants */
    .bcc-button-danger.bcc-button-primary {
        @apply bg-button-danger-primary text-button-danger-primary hover:bg-button-danger-primary-hover active:bg-button-danger-primary-pressed focus:bg-button-danger-primary-pressed;
    }
    .bcc-button-danger.bcc-button-secondary {
        @apply border-button-danger-secondary bg-button-danger-secondary text-button-danger-secondary hover:border-button-danger-secondary-hover hover:bg-button-danger-secondary-hover active:border-button-danger-secondary-pressed active:bg-button-danger-secondary-pressed;
    }
    .bcc-button-danger.bcc-button-tertiary {
        @apply text-button-danger-tertiary hover:text-button-danger-tertiary-hover active:text-button-danger-tertiary-pressed;
    }

    /* Icon */
    .bcc-button-xs .bcc-button-icon {
        @apply w-4 h-4;
    }
    .bcc-button-sm .bcc-button-icon {
        @apply w-4 h-4;
    }
    .bcc-button-icon { /* base size */
        @apply w-5 h-5;
    }
    .bcc-button-lg .bcc-button-icon {
        @apply w-6 h-6;
    }
    .bcc-button-xl .bcc-button-icon {
        @apply w-6 h-6;
    }
}    
