@layer components {
    .bcc-radio {
        @apply form-radio border-button-primary text-interactive focus:ring-2 focus:ring-emphasis;
        @apply disabled:bg-neutral-50 disabled:border-on-secondary disabled:hover:bg-neutral-50 disabled:hover:border-on-secondary;
    }
    .bcc-radio:checked:disabled {
        @apply bg-neutral-400 border-neutral-400;
    }

    /* Wrapper */
    .bcc-radio-wrapper {
        @apply text-body-sm inline-flex items-center gap-2 text-secondary;
    }
    .bcc-radio-wrapper-disabled {
        @apply text-tertiary;
    }
}
