@layer components {
  .bcc-graphic .corner,
  .bcc-graphic .center-slot {
    @apply absolute z-10;
  }
  .bcc-graphic .corner.top-left {
    @apply left-4 top-4;
  }
  .bcc-graphic .corner.top-right {
    @apply right-4 top-4;
  }
  .bcc-graphic .corner.bottom-right {
    @apply bottom-4 right-4;
  }
  .bcc-graphic .corner.bottom-left {
    @apply bottom-4 left-4;
  }
  .bcc-graphic .center-slot {
    @apply inset-1/4 h-1/2 w-1/2 flex items-center justify-center
  }

  .bcc-graphic {
    @apply relative flex max-h-full w-full bg-linear-to-tr from-background-brand-bolder-default to-background-brand-subtle-default;
  }

  .bcc-graphic-banner {
    @apply absolute inset-0 h-full w-full object-cover object-center
  }
  .bcc-graphic-banner--loading {
    @apply animate-pulse bg-linear-to-tr from-background-brand-bolder-default to-background-brand-subtle-default
  }

  .bcc-graphic-logo {
    @apply absolute inset-1/4 h-1/2 w-1/2 object-contain object-center
  }
  .bcc-graphic-logo--loading {
    @apply animate-pulse bg-black opacity-10 blur-sm
  }
}
