@layer components {
	.bcc-capacity-indicator {
		@apply text-base;
	}

	.bcc-capacity-indicator.xs {
		@apply text-xs;
	}

	.bcc-capacity-indicator.sm {
		@apply text-sm;
	}

	.bcc-capacity-indicator.lg {
		@apply text-xl;
	}

	.bcc-capacity-indicator {
		--bcc-capacity-indicator-background: transparent;
		--bcc-capacity-indicator-text: var(--ctx-text);
		--bcc-capacity-indicator-circle: var(--ctx-background);
		--bcc-capacity-indicator-circle-used: var(--color-brand-500);
		background: var(--bcc-capacity-indicator-background);
		@apply ctx-gray-subtlest;
	}

	.bcc-capacity-indicator.colored {
		--bcc-capacity-indicator-background: var(--ctx-background);
		--bcc-capacity-indicator-circle: var(--ctx-background-hover);
		--bcc-capacity-indicator-circle-used: var(--ctx-border);
		@apply ctx-blue-subtlest;
	}

	.bcc-capacity-indicator .text {
		color: var(--bcc-capacity-indicator-text);
	}
	.bcc-capacity-indicator .circle {
		stroke: var(--bcc-capacity-indicator-circle);
	}
	.bcc-capacity-indicator .circle-used {
		stroke: var(--bcc-capacity-indicator-circle-used);
	}

	.bcc-capacity-indicator.is-warning {
		@apply ctx-yellow-subtlest;
		--bcc-capacity-indicator-circle-used: var(--ctx-border);
	}

	.bcc-capacity-indicator.is-full {
		@apply ctx-red-subtlest;

		--bcc-capacity-indicator-circle: var(--ctx-background);
		--bcc-capacity-indicator-circle-used: var(--ctx-border);
	}
}
