@import "tailwindcss";
@import "@bcc-code/design-tokens/css";
@import "./styles/context.css";
@import "./styles/fonts.css";

@utility hide-scrollbar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

@import "./components/custom/BccReact/BccReact.css";
@import "./components/custom/BccCapacityIndicator/BccCapacityIndicator.css";