@layer components {
    .bcc-input {
        @apply w-full px-4 py-3 text-sm rounded-lg text-primary bg-primary border border-on-primary focus:outline-2 focus:outline-emphasis;
        @apply disabled:bg-neutral-100 disabled:text-neutral-400 disabled:cursor-not-allowed;
    }

    .bcc-input-lg {
        @apply py-4;
    }

    /* Label */
    .bcc-input-label {
        @apply flex gap-2 justify-between items-end text-xs text-primary font-semibold;
    }

    /* Optional */
    .bcc-input-optional-label {
        @apply text-xs text-neutral-400 font-normal truncate;
    }

    /* State */
    .bcc-input-error {
        @apply border-danger focus:outline-danger;
    }
    .bcc-input-success {
        @apply border-success focus:outline-success;
    }

    /* Message */
    .bcc-input-message-default {
        @apply text-secondary;
    }
    .bcc-input-message-error {
        @apply text-danger;
    }
    .bcc-input-message-success {
        @apply text-success;
    }
}