@layer components {
  .bcc-spinner {
    @apply animate-spin;
  }

  .bcc-spinner-circle {
    @apply text-isbre-100;
  }
  .bcc-spinner-progress-indicator {
    @apply text-silver-tree-600;
  }

  /* Size */
  .bcc-spinner-xs {
    @apply h-8 w-8;
  }
  .bcc-spinner-sm {
    @apply h-10 w-10;
  }
  .bcc-spinner-base {
    @apply h-16 w-16;
  }
  .bcc-spinner-lg {
    @apply h-20 w-20;
  }
  .bcc-spinner-xl {
    @apply h-24 w-24;
  }
}
