@layer components {
    .bcc-frame {
        @apply ctx ctx-default w-full;
    }

    .bcc-frame.bcc-frame--shadow {
        @apply  shadow-ctx-shadow shadow;
    }

    .bcc-frame--raised {
        --ctx-background: var(--color-elevation-surface-raised-default);
    }
    .bcc-frame--raised.rounded {
        @apply rounded;
    }
    .bcc-frame--raised.bcc-frame--shadow {
        @apply shadow-raised;
    }

    .bcc-frame--overlay {
        --ctx-background: var(--color-elevation-surface-overlay-default);
    }
    .bcc-frame--overlay.bcc-frame--shadow {
        @apply shadow-overlay;
    }

    .bcc-frame--sunken {
        --ctx-background: var(--color-elevation-surface-sunken-default);
    }
    .bcc-frame--sunken.bcc-frame--shadow {
        @apply shadow-inner;
    }
}