name: Release Dev Version

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: 'npm'
          registry-url: 'https://npm.pkg.github.com'

      - name: Install dependencies
        run: npm ci
        env:
          CI: true

      - name: Test
        run: npm run test:unit
        env:
          CI: true
        
      - name: Build
        run: npm run build
        env:
          CI: true

      - name: Resolve version
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: 'Version based on commit: 0.0.0-dev.${{ env.sha_short }}'
        run: npm version 0.0.0-dev.${{ env.sha_short }} --force --no-git-tag-version

      - name: Publish
        run: npm publish --tag dev
        env:
          CI: true
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
