@layer components {
    .bcc-input {
        @apply w-full flex items-center min-h-[2.5rem] px-4 py-2 text-body rounded-lg text-primary bg-primary border border-on-primary focus:outline-1 focus:outline-emphasis;
        @apply placeholder:text-tertiary;
        @apply disabled:bg-secondary disabled:text-tertiary disabled:cursor-not-allowed;
    }

    /* Container/Wrapper */
    .bcc-input-container {
        @apply inline-flex flex-col space-y-2;
    }
    .bcc-input-wrapper {
        @apply relative;
    }

    /* Size */
    .bcc-input-sm .bcc-input {
        @apply min-h-[2rem] text-body-sm py-1;
    }
    .bcc-input-lg .bcc-input {
        @apply min-h-[3.5rem] text-body py-3.5;
    }

    /* State */
    .bcc-input-error {
        @apply border-danger focus:outline-danger;
    }
    .bcc-input-success {
        @apply border-success focus:outline-success;
    }

    /* Icon */
    .bcc-input-icon {
        @apply h-4 w-4 text-secondary;
    }
    .bcc-input-icon-disabled {
        @apply text-tertiary;
    }
    .bcc-input-lg .bcc-input-icon {
        @apply h-5 w-5;
    }

    .bcc-input-icon-wrapper {
        @apply pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3;
    }

    .bcc-input-lg > .bcc-input-icon-wrapper {
        @apply pl-3.5;
    }

    .bcc-input-with-icon {
        @apply pl-8;
    }
    .bcc-input-lg > .bcc-input-with-icon {
        @apply pl-10;
    }

    /* Clear button */
    .bcc-input-clear-button-wrapper {
        @apply absolute inset-y-0 right-0 flex items-center pr-3;
    }

    .bcc-input-clear-button {
        @apply h-5 w-5 cursor-pointer text-primary hover:text-secondary;
    }
    
    .bcc-input-clearable {
        @apply pr-8;
    }

    .bcc-input-lg .bcc-input-clear-button {
        @apply w-6 h-6;
    }
    .bcc-input-lg .bcc-input-clearable {
        @apply pr-10;
    }
}